# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# VSCode
.vscode/

# Cache
cache/

# Keep data/raw 

# Google Places raw API responses
data/raw/master_healthcare_google_raw.jsonl
data/raw/GHS_POP_E2030_GLOBE_R2023A_54009_100_V1_0_R6_C23.tif


# Ignore everything in processed data
data/processed/*

## except:
# ---------- Phase 1 data outputs for rerun phase2 pipeline:
!data/processed/master_database.geojson

!data/processed/candidate_database.geojson

!data/processed/population_heatmap.geojson
!data/processed/population.tif

!data/processed/master_database.geojson

!data/processed/roads_clean.geojson
!data/processed/road_points.geojson
!data/processed/urban_mask.geojson

# ---------- Phase 2 data outputs to see final resault:
!data/processed/best_areas.xlsx


# Output files
outputs/*
!outputs/PLI_candidate_locations_map.html
!outputs/heatmap.html

archive/

cache/

Debug/

# Undeveloped Web UI
web/

# Temporary files
*.log
*.tmp
*.bak

# Windows
Thumbs.db
Desktop.ini